
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

.inter{
  font-family: "Inter", sans-serif; 
  font-weight:400;
  overflow-x: hidden;
}
.nav{
  background-color: #1A0B2E;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 92px;
  border-bottom:1px solid #627382;
  max-width:1600px;
  margin: 0 auto;
}

.navbar h2{
  color: white;
  font-size: 35px;
}

.color{
  background:linear-gradient(
  35deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.list{
  color: white ;
   list-style-type:none;
   display: flex;
   justify-content: space-around;
   gap: 32px;
   font-size: 16px;
   font-weight:500;
   padding-right:50px;
  }

.btn{
   color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 100px;
    padding: 12px 16px;
    height:44px;
    width: 135px;
    display: flex;
    align-items: center ;
    background:linear-gradient(
    35deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    cursor: pointer;
  }

  .btn img{
    height: 20px;
    width: 20px;
    padding: 12px 16px 12px 4px;
    display: block;
  }
 
  .xyz{
    background-size: cover;
    max-width:1500px;
    display: flex;
    justify-content: center;
  }

  .xyy{
    position: absolute;
    bottom: 400px;
    left: 690px;
     z-index: 2;
  }
  .xyy img{
    height:175px;
    width: 116px;
   
  }

  .xzz{
    position: absolute;
    bottom: 300px;
    left:575px;
    z-index: 1;
  }
  .xzz img{
    height: 350px;
    width: 350px;
    
  }
  .main{
    position: relative;
  }
  .mid{
    position:absolute;
    bottom: 170px;
    left: 480px;
    padding-bottom: opx;
  }
  .content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:60px;
    font-weight: bolder;
    color: white;

  }

  .content p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
  }

  .btnn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    position: relative;
    top: 24px;
  }

  .linear{
    background:linear-gradient(
    35deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    cursor: pointer;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    border-radius: 100px;
  }
  .linear img{
    height: 20px;
    width: 20px;
  }

  .bttn{
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    border: 2px solid #00FF88;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    border-radius: 100px;
  }
  .back{
    background-color: #1A0B2E;
  }
  .middle h2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    padding: 0px 200px 16px 200px ;
  }
  .middle p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    padding-bottom: 25px;
    color: white;
  }

  .line{
    border:1px solid #627382;
    border-top-width: 1px;
    margin: 0 120px;
  }

  .achive{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 80px;
    padding-top: 50px;
    text-align: center;
  }

  .achive h3{
    font-size:48px;
    font-weight: bolder;
    color: #00FF88;
    padding-bottom: 16px;
  }
  .achive p{
    font-size:16px;
    text-align: center;
    padding-bottom: 120px;
    color: white;
  }

  .why{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    color: white;
    background-color: #230E3D;
    padding: 120px 200px 40px 200px;
  }
  
  .card{
    display: grid;
    justify-content: center;
    gap:20px;
    background-color: #230E3D;
    padding: 0 200px 120px 200px;
    grid-template-areas: 
        "first second second"
        "first third third"
        "four four five";
  }
  .first{
    grid-area: first;
    padding: 32px 32px;
    background-color: #533c7285;
    border: none;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    
  }
  .first img{
    height:50px;
    width: 50px;
    padding-top: 65px;
  }
  .first h4{
    font-size: 24px;
    font-weight:bold ;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .first p{
    color: rgb(158, 155, 155);
  }

  .second{
    grid-area: second;
    padding: 32px 32px;
    background-color: #533c7285;
    border: none;
    border-radius: 40px;
    
  }
  .second img{
    height:55px;
    width: 40px;
  }
  .second h4{
    font-size: 24px;
    font-weight:bold ;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .second p{
    color: rgb(158, 155, 155);
  }
  .third{
    grid-area: third;
    padding: 32px 32px;
    background-color: #533c7285;
    border: none;
    border-radius: 40px;
    
  }
  .third img{
    height:55px;
    width: 55px;
  }
  .third h4{
    font-size: 24px;
    font-weight:bold ;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .third p{
    color: rgb(158, 155, 155);
  }
  .four{
    grid-area: four;
    padding: 32px 32px;
    background-color: #533c7285;
    border: none;
    border-radius: 40px;
    
  }
  .four img{
    height:50px;
    width: 55px;
  }
  .four h4{
    font-size: 24px;
    font-weight:bold ;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .four p{
    color: rgb(158, 155, 155);
  }
  .five{
    grid-area: five;
    padding: 32px 32px;
    background-color: #533c7285;
    border: none;
    border-radius: 40px;
    
  }
  .five img{
    height:50px;
    width: 55px;
  }
  .five h4{
    font-size: 24px;
    font-weight:bold ;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .five p{
    color: rgb(158, 155, 155);
    
  }







































































  .foot{
    display:flex;
    justify-content: center;
    padding-top: 120px;

  }

  .footerbg{
    background-image: url(./B13-A02-TechWave/assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .footerimg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 60px;
 
  }
  .footerimg img{
    height: 18px;
    width: 18px;
    
  }
  .footerimg p{
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
  .last{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 120px;
  }